<% if @templates.length > 0 %>
  <div style = "overflow-x: auto;">
    <table class="table table-compact">
      <thead>
        <tr>
          <th style = "text-align:left">Template Description</th>
          <th style = "text-align:left">Template Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <% @templates.each do |template| %>
        <tr>
          <td align="left" class = "text-nowrap">
            <h5><%=template.template_description%></h5> 
          </td>
        
          <td align="left" class = "text-nowrap">
            <h5><%=template.service_type_desc%></h5> 
          </td>
     
          <td class = "text-nowrap">
            <%=link_to edit_proposal_template_path(id:template.id) do %> 
              <i class="fa fa-edit fa-2x" aria-hidden="true"  data-html = "true" data-toggle="tooltip" title="Edit this template" data-placement ="right" data-container="body"></i>
            <%end%>
          </td>
        
          <td class = "text-nowrap">
            <%=link_to proposal_template_path(template), method: :delete, data:{confirm: "Are you sure you want to delete this template?"} do %> 
              <i class="fa fa-trash fa-2x" aria-hidden="true"  data-html = "true" data-toggle="tooltip" title="Delete this template" data-placement ="right" data-container="body"></i>
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
    <br>
  </div>      
<%else%>
  <div class = "well">
    <h5 style = "text-align: center">No Proposal Templates Found</h5>
  </div>
<%end%>

