<div class = "row">
  <div align = "left">
  	<h2>Choose a Proposal Template...</h2>
  </div>
</div>

<div class = "row">
  <div id="templates">
    <%=render partial: 'template_list'%>
  </div>
</div>     

<br>
<br>
<div class = "row">
  <div align = "left">
    <h2>OR</h2>
  </div>
</div>
<br>
<br>
<div class = "row">
  <%=link_to new_proposal_path do%>
    <button class = 'btn btn-lg btn-primary'>Create Proposal From Scratch</button>
  <%end%>
</div>

     


