<div class="sectiontitle">
  <h2>Recent Proposals</h2>
  <span class="headerLine"></span>
</div>
<div style = "overflow-x: auto;">
  <table width = "80%" class="table table-compact">
    <thead>
        <tr>
          <th style="text-align:left">Date</th>
          <th style="text-align:left">Type</th>
          <th style="text-align:left">Client Name</th>
          <th style="text-align:center">Quotes</th>
          <th style="text-align:center">Status</th>
        </tr>
      </thead>
      <tr>
        <td class="text-nowrap">
          02/15/2018  
        </td>
        
        <td class = "text-nowrap">
          Accounting
        </td>

        <td class="text-nowrap">
          John's Audio
        </td>
                
        <td class="text-nowrap" style="text-align:center">
          $150 / $250 / $350
        </td>
                    
        <td class="text-nowrap" style="text-align:center">
          Pending
        </td>
          
        </tr>
    </table>
</div>
