<!DOCTYPE html>
<html>
<head> 
<meta content = 'text/html; charset=UTF-8' http-equiv = 'Content-Type' />
</head>
  <body>
    <p><%=@proposal.contact_first%>, attached you will find the service proposal we talked about during our meeting.</p>
    <p>Sincerly, <%=@current_user.owner_first%> <%=@current_user.owner_last%></p>
  </body>
</html>





