<%=link_to new_available_service_path do%>
  <button class = 'btn btn-primary'>New Service</button>
<%end%>

<div class="sectiontitle" style="text-align:left">
  <h2>Available Services</h2>
  <span class="headerLine"></span>
</div>

<div style = "overflow-x: auto;">
  <table width = "80%" class="table table-compact">
    <thead>
      <tr>
        <th width = "60%" style="text-align:left">Service</th>
        <th width = "20%" style="text-align:center">Applies To</th>
        <th width = "20%" style="text-align:center">Actions</th>
      </tr>
    </thead>
    <% if @services.length > 0 %>
      <% services.each do |service|%>
        <tr>
          <td width = "60%" class="text-nowrap">
            <%=service.service_description%>
          </td>

          <td style="text-align:center" width = "20%" class = "text-nowrap">
            <%= service.get_service_type_desc%>
          </td>
          
          <td style="text-align:center" width = "20%" class = "text-nowrap">
            <%=service.link_to_edit_or_review%>
           </td>  
          
          
          
             
           
        </tr>
      <%end%>
    <%end%>
  </table>
</div>
