@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    -o-appearance:textfield;
    -khtml-appearance:textfield;
}

/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #C0C0C0;
 }

//CSS for the Navbar logo
.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

.form-horizontal .control-label{
text-align:left;
}

select.select-date {
  width: 30%;
  margin-right: 10px;
  float: left;
}

.select-date-wrapper{
  select:first-of-type{
    width: 25%;
  }
  select:nth-of-type(2){
    width: 25%;
  }
  select:last-of-type{
    margin-right: 0;
    width: 25%;
  }
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.well{
background: rgba(0,43,127,0.05);
border: 1px solid rgba(0,43,127,1);
 }

 .well-green{
 background: rgba(127,186,0,0.20)
 }


.well-blue
{background: rgba(0,43,127,1);}

.navbar {
background-color: rgba(127,186,0,0.20);
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.tooltip-inner{
  max-width: none;
  white-space: pre-line;
}

.alert-error{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    
}

.alert-alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    text-align: left;
    
}

.alert-success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.pos {color: #000;}
.neg {color: #f00;}



.tablewhite {background-color: White;}
.tablegray {background-color: LightGray;}


 .panel-title+h3:before {
        font-family: FontAwesome;
        content: "\f056";
        padding-right: 5px;
    }
 .panel-title+h3.collapsed:before {
       font-family: FontAwesome;
        content: "\f055";
        padding-right: 5px;
    }


input:required {
  
  background-color: rgba(0, 200, 0, 0.05);
}

select:required{
 background-color: rgba(0, 200, 0, 0.05); 
}

input:required:focus {
  border: 1px solid green;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}



.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid rgba(127,186,0,1);
}

.pricing-active {
  border: 3px solid #36d7ac;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}

.pricing:hover {
  border: 3px solid rgba(0,43,127,1);
}

.pricing:hover h4 {
  color: rgba(0,43,127,1);
}

.pricing-head {
  text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
  font-weight: 300;
  color: #fafafa;
  padding: 12px 0;
  font-size: 27px;
  background: rgba(0,43,127,1);
  border-bottom: solid 1px #41b91c;
}

.pricing-head h4 {
  color: rgba(0,43,127,1);
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: #fbfef2;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head-active h4 {
  color: #36d7ac;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Content*/
.pricing-content li {
  color: #888;
  font-size: 12px;
  padding: 7px 15px;
  border-bottom: solid 1px #f5f9e7;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  color: #36d7ac;
}

.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
  color: #FFFFFF;
  background-color: #f3c200;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #cfa500;
}

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.proposalFactsWrap{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#proposalFacts .fullWidth{
  padding: 0;
}

.proposalFactsWrap .item{
  width: 20%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.proposalFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.proposalFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.proposalFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.proposalFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.proposalFactsWrap .item:nth-child(5){
  background: rgb(25, 48, 69);
}

.proposalFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.proposalFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.proposalFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.proposalFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.proposalFactsWrap .item:hover i, .proposalFactsWrap .item:hover p{
  color: white;
}

.proposalFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .proposalFactsWrap .item {
     flex: 0 0 50%;
  }
}

.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 100%;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}

table.table-compact{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  margin-top: 30px; 
  width: 100%;
  
}


table.table-compact tr{
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;  
}

table.table-compact th, table.table-compact td{
  padding: .625em;
  
}

table.table-compact th{
  font-size: .85em;
  letter-spacing: .1em;
  
}

input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:30px;
              height:25px; 
              display:inline-block;
              line-height:25px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:25px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -25px;
            }
            label.css-label {
        background-image:url(/assets/css_chekcbox_blue.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
